@model GymSheet.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger"><strong>Ocorreu um erro:</strong></h1>
<h3 class="alert alert-danger">@Model.Message</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

