@model GymSheet.Models.Administrator

@{
    ViewData["Title"] = "Informações da Conta";
}

<h2 class="text-center text-primary">Informações da Conta</h2>

<hr />

<p class="text-info h4">
    Meu Ip: <strong>@ViewBag.Ip</strong>
</p>
